#inspector-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  pointer-events: none;
  z-index: 9999;
  max-width: 250px;
  min-width: 150px;
}

#inspector-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10000;
}
