{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": false
      },
      "antd-tree-shaking"
    ]
  ]
}
