:root {
  --border-thickness: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  padding: 1rem;
  width: 15rem;
}

div {
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: firebrick;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

input[type='range'] {
  width: 100%;
}

select {
  width: 100%;
}

a {
  text-decoration: none;
  color: gray;
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ccc;
}

footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}
