@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_opsz_wght.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandstander';
  src: url('../assets/fonts/Grandstander-VariableFont_wght.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
