// Popup menu styles
@use './abstracts/fonts.scss';
@use './abstracts/variables.scss';

* {
  font-family: 'Inter', sans-serif;
}

#root {
  width: 288px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
}
